* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 50%);
    --black:  hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    border: 1.5px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    width: 385px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: .975rem 1.3rem;
    box-shadow: 8px 8px 0px 0px var(--black);
}

.illustrationImage {
    border-radius: 10px;
}
.category { 
    background-color: var(--yellow);
    width: 80px; 
    padding: 6px;
    margin: 5px 0px 0px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}
.date {
    font-size: 14px;
}
.details { color: var(--gray); 
    line-height: 1.5rem;
}

.profile-image-name { 
    display: flex;
    align-items: center;
    margin: 10px 0px 0px;
}
.profileImage { width: 32px; }
.name {
    margin: 0px 10px 0px;
    font-size: 14px;
    font-weight: 800;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }