/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Yellow: hsl(47, 88%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 50%)
- Black: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 600, 800 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 50%);
    --black:  hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    border: 1px solid var(--black);
    border-radius: 20px;
    background: teal;
    width: 380px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: 1rem;
}

.illustrationImage {
    border-radius: 10px;
}

.profileImage {
    width: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }